<!DOCTYPE html>
<html>
<head>
<title>Contact us</title>
</head>
<body>


<table style="border: 1px solid black; border-spacing: 2px; padding:4px; border-collapse: separate;  margin-left: auto; margin-right: auto;">
	<tbody>
	<tr>
		<td>
			<p style = "text-align:left">Hi {{firstName}},</p>
		</td>
	</tr>
	
	<tr>
		<td>
			Thanks you for contacting us. We will get you soon.
		</td>
	</tr>
	
	
	<tr>
		<td>
			<p>You contacted us for,</p>
		</td>
	</tr>
	
	
	
	<tr>
		<td>
			{{body}}
		</td>
	</tr>
	<tr>
		<td>
			<h4 style="color:blue; margin-bottom:1px; margin-top:10px;">Regards,</h4>
		</td>
	</tr>
	<tr>
		<td>
			<h4 style="color:blue; margin-top: 1px;">Aman Shaw</h4>
		</td>
	</tr>
	
	
	
	</tbody>
</table>

</body>
</html>