<!DOCTYPE html>
<html>

<head>
  <title>Aman Shaw</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="http://fonts.cdnfonts.com/css/bogart" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/f3b8dc9442.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
  

</head>

<body>
  
  <section class="" id="title">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#title">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="work in progress" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
    <div style="padding-top: 80px;">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </section>




  <section class="card" style="background-color: #212529!important;height: 78vh;" id="home">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 bio">


          <h1 class="c-hero__title">Hi, I'm Aman <br>A Developer.</h1>

          <p class="c-hero__sub">
            I’m also a Data engineer and sometimes do freelancing , bringing products to life.
          </p>
          
          <a href="{{ url_for('download_cv') }}" download class="cv-link">
            <span class="cv-button">
              Download CV
              <i class="fas fa-download" style="margin-left: 10px;"></i>
            </span>
          </a>
          
          
          
          
          

        </div>
        <div class="col-lg-6 col-sm-12">
          <img style="width: 100%;height:100%" src="/static/user.png" alt="user">
        </div>
      </div>
    </div>

  </section>

  <!-- projects -->

  <section id="project" class="card" style="background-color: #212529!important;">
    <h1 style="text-align: center;">Projects</h1>
    <div class="container" style="background-color: #191919;border-radius: 20px;margin-bottom: 30px;">
      <div class="row">
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-heart fa-3x icon"></i>
          <h3 type="button" onclick="alert('Sorry,not hosted now')">Command Center</h3>
          <p>It's a Flask web app to live monitor of scripts</p>
        </div>
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-check-circle fa-3x icon"></i>
          <h3 type="button" onclick="alert('Sorry,not hosted now')">TEK Automation</h3>
          <p>It's a python based automation script.</p>
        </div>
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-bullseye fa-3x icon"></i>
          <h3 type="button" onclick="alert('Sorry,not hosted now')">HRIS monitoring</h3>
          <p>It's a python based automation script.</p>
        </div>



      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-check-circle fa-3x icon"></i>

          <h3 type="button" onclick="alert('Sorry,not hosted now')">Wikipedia Search</h3>
          <p>A web app to show all Wikipedia results</p>
        </div>
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-bullseye fa-3x icon"></i>
          <h3 type="button" onclick="alert('Sorry,not hosted now')">Emojify</h3>
          <p>A web app to search for emojies and icons</p>
        </div>
        <div class="col-lg-4 col-md-12 feature-box">
          <i class="fas fa-heart fa-3x icon"></i>
          <h3 type="button" onclick="alert('Sorry,not hosted now')">Drum-kit</h3>
          <p>A fun app to play instumental sounds on keypress</p>
        </div>


      </div>

    </div>
  </section>

  <!-- Services -->

  <section id="services" class="card" style="background-color: #212529!important;">
    <h1 style="text-align: center;">Services</h1>
    <div class="container" style="background-color: #191919;border-radius: 20px;margin-bottom: 30px;">

      <h2 class="pricing-header-top">A Plan for Every Business's Needs</h2>
      <p>Simple and affordable price plans for you and your business.</p>


      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="card" style="margin-bottom: 25px;">
            <div class="card-header">
              <h3>Basic</h3>
            </div>
            <div class="card-body">
              <h2 class="pricing-header">Free</h2>
              <p>5 Fixes Per Month</p>
              <p>10 Emails Per Month</p>
              <p>Unlimited App Usage</p>
              <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Business</h3>
            </div>
            <div class="card-body">
              <h2 class="pricing-header">$49 / mo</h2>
              <p>50 Fixes Per Month</p>
              <p>Unlimited Emails</p>
              <p>Unlimited App Usage</p>
              <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="card-header">
              <h3>Enterprise</h3>
            </div>
            <div class="card-body">
              <h2 class="pricing-header">$99 / mo</h2>
              <p>Unlimited Fixes</p>
              <p>Unlimited Emails</p>
              <p>Unlimited App Usage</p>
              <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>




  <section id="contact" class="card" style="background-color: #212529!important;">
    <h1 style="text-align: center;">Contact US</h1>
    <div class="container" style="background-color: #191919;border-radius: 20px;margin-bottom: 10px;">


    <footer id="footer">
      <form action="/" method="POST" onsubmit="alert('Thanks you, We will keep in touch.')">
        
          <div class="row">
            <div class="col-lg-6 col-sm-12">
            <div class="form-floating"style="margin-bottom:1rem;"><input type="text" maxlength="25" class="form-control" id="floatingInput" placeholder="John" name="name" required>
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating" style="margin-bottom:1rem;"><input type="email" maxlength="35" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
              <label for="floatingInput">Email</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-floating" style="margin-bottom:1rem;">
              <textarea  class="form-control keyremaining" style="height: 130px;" maxlength="200" placeholder="Leave a comment here" id="floatingTextarea" name="message" required></textarea>
              <label id = "charcount" for="floatingTextarea">Message</label>
              

              </textarea>
            </div>
          </div>
          </div>
          
       
        
        <button type="submit" class="btn btn-primary btn-lg">Let's Talk</button>
 
      </form>
     
    <i type="button" class="footer-icon fab fa-linkedin"  onclick="window.open('https://www.linkedin.com/in/raia6020/', '_blank');"></i>
    <i type="button" class="footer-icon fab fa-github"  onclick="window.open('https://github.com/raia6020', '_blank');"></i>  
    <i type="button" class="footer-icon fab fa-facebook"  onclick="window.open('https://facebook.com/raia6020', '_blank');"></i>
    <i type="button" class="footer-icon fab fa-instagram"  onclick="window.open('https://www.instagram.com/littlegoli_/', '_blank');"></i>
    
    <p>© Copyright 2022</p>

  </footer>
  </div>
  </section>
  

  <!-- <script>
    function pressEnter() {
        // var remaining = document.querySelector(".keyremaining").value.length;
        document.getElementById(".charcount").innerText = "Aman";
        console.log('hi')
}
  </script> -->
































  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  <script src="/static/index.js"></script>

</body>

</html>